.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.main {
  text-align: center;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 50px;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

.accountInfo {
  padding: 40px 0;
}

.accountInfo > div {
  padding: 5px 0;
}

.signButton {
  composes: textButton from './buttons.css';
  margin-left: 10px;
}

.signatureOutput {
  margin-top: 10px;
  max-width: 420px;
  word-break: break-all;
}
